{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": ["@typescript-eslint"],        
    "rules": {
      "semi": ["error", "never"],
      "quotes": [2, "single"]
    },
    "extends": ["plugin:@typescript-eslint/recommended"]
  }