{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "unused-imports"],
    "rules": {
        "semi": ["error", "never"],
        "quotes": [2, "single"],
        "unused-imports/no-unused-imports": "warn"
    },
    "extends": ["plugin:@typescript-eslint/recommended", "prettier"]
}
