apiVersion: v1
data:
  mapRoles: |
    - groups:
      - system:bootstrappers
      - system:nodes
      - system:node-proxier
      rolearn: arn:aws:iam::257821106339:role/qa-gtsk-uswest1-core-fargate-role
      username: system:node:{{SessionName}}
    - groups:
      - system:masters
      rolearn: arn:aws:iam::257821106339:role/qa-gtsk-uswest1-core-build
      username: qa-gtsk-uswest1-core-build
      rolearn: arn:aws:iam::257821106339:role/qa-gtsk-uswest1-core-deploy
      username: qa-gtsk-uswest1-core-deploy
      rolearn: arn:aws:iam::257821106339:role/qa-gtsk-uswest1-core-eks-role
      username: qa-gtsk-uswest1-core-eks-role
      rolearn: arn:aws:iam::257821106339:role/glb-gtsk-eks-full-access
      username: glb-gtsk-eks-full-access
    - groups:
      - qa-gtsk-uswest1-full-access-group
      rolearn: arn:aws:iam::257821106339:role/glb-gtsk-eks-read-only
      username: glb-gtsk-eks-read-only
  mapUsers: |
    - userarn: arn:aws:iam::257821106339:user/eks-user
      username: eksadmin
      groups:
        - prd-gtsk-uswest1-full-access-group
    - userarn: arn:aws:iam::257821106339:user/maz@generaltask.com
      username: maz
      groups:
        - prd-gtsk-uswest1-full-access-group
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
