.tooltip {
    border-radius: 10px !important;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, "Segoe UI", Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, Arial, "Fira Sans", "Droid Sans", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    padding: 7.5px !important;
}
