:root {
    --animate-duration: 250ms !important;
}

#event-details-popup {
    position: absolute; 
    left: 0px;
    top: 0px;
    z-index: 100; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, "Segoe UI", Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, Arial, "Fira Sans", "Droid Sans", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.__react_component_tooltip.show {
    opacity: 1 !important;
}

.ReactModalPortal {
    z-index: 100 !important;
    position: relative;
}
