.task-title{
    font-size: 20px;
    width: 80%;
    margin: auto;
}

.task-outer-div {
    border: 2px solid #cccccc;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.task-header{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.domino{
    height: 18px;
}

.task-icon{
    max-width: 40px;
    padding-left: 12px;
    padding-right: 12px
}

.task-header-side{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.task-header-right{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.task-header-source{
    color: #cccccc;
}

.task-divider{
    background-color: #cccccc;
    width: 100%;
    height: 1px;
}

.task-body {
    margin: auto;
    padding: 8px;
}

.task-body-entry {
    font-size: 18px;
    margin: 8px;
    display: flex;
}

.task-body-entry div {
    margin-right: 4px;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.task-body-entry.left {
    color: #cccccc;
}

.task-textbox {
    border: 2px solid #cccccc;
    border-radius: 2px;
    color: #cccccc;
    font-size: 18px;
    height: 30px;
    width: 100%;
    align-items: center;
}

.task-button{
    /* width: 60px; */
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.border-black{
    border: 2px solid black;
    border-radius: 2px;
}

.border-white{
    border: 2px solid white;
    border-radius: 2px;
}

.button-white{
    margin-left: 4px;
    background-color: white;
    color: black;
}

.button-black{
    margin-left: 4px;
    background-color: black;
    color: white;
}

.keyboard-shortcut{
    /* border-width: 1px; */
    font-size: 15px;
    padding: 1px;
    margin-right: 2px;
    width: 18px;
}

.spacer40{
    height: 40px;
    text-align: center;
}

.task-time-annotation {
    color: #969696;
    width: 10%;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

.task-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.task-group-tasks {
    width: 60%;
}

.unscheduled-time-annotation-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.unscheduled-spanbar {
    background-color:  #969696;
    width: 2px;
    height: calc(100% - 10px);
    position: absolute;
}

.unscheduled-time-annotation {
    margin-left: 20px;
}
