.task-title{
    font-size: 20px;
    width: 80%;
    margin: auto;
}

.task-divider{
    background-color: #cccccc;
    width: 100%;
    height: 1px;
}

.task-body {
    margin: auto;
    padding: 8px;
}

.task-body-entry {
    font-size: 18px;
    margin: 8px;
    display: flex;
}

.task-body-entry div {
    margin-right: 4px;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.task-body-entry.left {
    color: #cccccc;
}

.task-textbox {
    border: 2px solid #cccccc;
    border-radius: 2px;
    color: #cccccc;
    font-size: 18px;
    height: 30px;
    width: 100%;
    align-items: center;
}

.task-button{
    /* width: 60px; */
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.border-black{
    border: 2px solid black;
    border-radius: 2px;
}

.border-white{
    border: 2px solid white;
    border-radius: 2px;
}

.button-white{
    margin-left: 4px;
    background-color: white;
    color: black;
}

.button-black{
    margin-left: 4px;
    background-color: black;
    color: white;
}

.keyboard-shortcut{
    /* border-width: 1px; */
    font-size: 15px;
    padding: 1px;
    margin-right: 2px;
    width: 18px;
}

.clamp-lines > span {
    display: block;
}
