name: E2E Cypress

on:
  push:
    branches: [master]
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      REACT_APP_API_BASE_URL: http://localhost:8080
      DB_NAME: test
    strategy:
      fail-fast: false
      matrix:
        # run copies of the current job in parallel
        containers: [1]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          runTests: false

      - name: Spin up db
        working-directory: backend
        run: docker-compose up -d

      - name: Start backend server
        working-directory: backend
        run: go run . &

      - name: Install dependencies
        working-directory: frontend
        run: yarn install --frozen-lockfile

      - name: Try Building  (just for funsies)
        working-directory: frontend
        run: yarn build

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          start: yarn start
          wait-on: 'http://localhost:3000'
          command: yarn cy:run --record --parallel
          working-directory: frontend
        env: 
          CYPRESS_RECORD_KEY: 65dc874e-0eec-40c2-92a6-6353992fbbc7
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
