name: Frontend ESLint

on:
  push:
    branches: [master]
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Install
        run: yarn add --dev @typescript-eslint/eslint-plugin@latest
      - name: Run ESLint
        run: yarn run eslint . --ext .ts,.tsx --max-warnings=0
