name: E2E Cypress

on:
  push:
    branches: [master]
  pull_request:
    branches:
      - "**"

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 14
          runTests: false

      - name: Cypress install
        uses: cypress-io/github-action@v4
        with:
          # Disable running of tests within install job
          runTests: false
          build: yarn build:test

      - name: Save build folder
        uses: actions/upload-artifact@v2
        with:
          name: dist
          if-no-files-found: error
          path: dist

  build:
    runs-on: ubuntu-latest
    env:
      REACT_APP_API_BASE_URL: http://localhost:8080
      DB_NAME: test
    strategy:
      fail-fast: false
      matrix:
        # run copies of the current job in parallel
        containers: [1, 2]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Download the build folders
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Spin up db
        working-directory: backend
        run: docker-compose up -d

      - name: Start backend server
        working-directory: backend
        run: go run . &

      - name: Install dependencies
        working-directory: frontend
        run: yarn install --frozen-lockfile

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          install: false
          start: yarn start:test
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120
          browser: chrome
          record: true
          parallel: true
          group: 'UI - Chrome'
          # command: yarn cy:run --record --parallel
        env: 
          CYPRESS_RECORD_KEY: 65dc874e-0eec-40c2-92a6-6353992fbbc7
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
