# name: Frontend CI

# on:
#   push:
#     branches: [master]
#   pull_request:
#     branches:
#       - "**"

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     env:
#       REACT_APP_API_BASE_URL: http://localhost:8080
#     defaults:
#       run:
#         working-directory: frontend
#     steps:
#       - uses: actions/checkout@v2
#       - uses: actions/setup-node@v2
#         with:
#           node-version: 14

#       - name: Install dependencies
#         run: yarn install --frozen-lockfile

#       - name: Build app
#         run: yarn build
